<!-- include header -->
<%- include('layouts/_header') %>
<!-- /include header -->
    <div class="body_wrapper">
        <div class="breadcrumb_area_three">
            <img class="p_absolute one" src="img/typography/leaf_left.png" alt="">
            <img class="p_absolute four" src="img/typography/leaf_right.png" alt="">
            <div class="container">
                <div class="breadcrumb_text">
                    <h2>Salom! <span>O'zbekiston</span></h2>
                    <p>Ushbu sahifada O'zbekiston Respublikasi hududidagi 
                        <span>viloyat, tuman / shahar va mahalla fuqarolar yi'ginlari</span> nomlarini to'liq 
                        ro'yxatini olishingiz mumkin...</p>
                </div>
            </div>
        </div>
        <section class="typography_area">
            <div class="container">
                <div class="typography_underline">
                    <p>
                        O'zbekiston Respublikasi hududida mavjud bo'lgan barcha <b>viloyatlar</b>, <b>tuman va shaharlar</b> shuningdek
                         <b> mahalla fuqarolar yig'inlari </b>
                            ro'yxatini olishingiz mumkin. Ro'yxatga kiritilgan barcha ma'lumotlar turli xil manbaalar orqali olingan bo'lib kiritilgan ma'lumotlarda
                            turli xil kamchiliklar mavjud bo'lishi mumkin. Shu sababli biz ushbu tizimni ishga tushurdik. Endilikda siz barcha mavjud ma'lumotlarni
                            kuzatishingiz 
                        </b>
                    </p>
                </div>
             
                <div class="button_inner">
                    <div class="button_inner_one">
                        <a class="nav_btn icon_btn arrow_btn_small_two" href="data/regions"><i class="icon_documents_alt"></i> Viloyatlar</a>
                        <a class="nav_btn icon_btn arrow_btn_small_two" href="data/districts"><i class="icon_documents_alt"></i> Tuman va shaharlar</a>
                        <a class="nav_btn icon_btn arrow_btn_small_two" href="data/quarters"><i class="icon_documents_alt"></i> Mahalla fuqarolar yig'inlari</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="action_area_three">
            <div class="container">
                <div class="action_content_three text-center">
                    <h2>Docy will definitely make Your life easier</h2>
                    <a href="#" class="doc_border_btn doc_border_btn_two">Buy Docy Now</a>
                </div>
            </div>
        </section>
        <footer class="doc_footer_area">
            <div class="doc_footer_bottom">
                <div class="container d-flex justify-content-between">
                    <ul class="doc_footer_menu list-unstyled wow fadeInUp" data-wow-delay="0.2s">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Latest Projects</a></li>

                    </ul>
                    <p class="wow fadeInUp" data-wow-delay="0.3s">© 2021 All Rights Reserved Design by
                        <span>Spider-themes</span>
                    </p>
                </div>
            </div>
        </footer>
    </div>
<!-- include header -->
<%- include('layouts/_footer') %>
<!-- /include header -->